.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  z-index: 1;
}

.logo {
  width: 183px;
}

.logo__place-header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  padding-left: 64px;
  align-self: center;
  margin: 0;
}

.header__subtitle {
  margin: 0;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {

  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 auto;
  line-height:34px;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  max-width: 60%;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px 0 0;
  max-width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  padding-bottom: 0;
}

.table__heading {
  margin:0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.feynman__title {
  margin: 0;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: relative;
}

.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.table_theme_dark {
  margin: 0 auto;
  position:relative;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: white;
}

.section-title__theme-dark {
  margin: 0;
  color: white;
}

.section-subtitle__theme-dark {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  color: white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px;
  list-style: none;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
